.contactusjombu{
  border-top-left-radius: 200px;
  background-image: url('https://i.pinimg.com/originals/6a/c9/66/6ac9664baf2b1de542b69f29c104c7d6.jpg');
  text-align: center;
  align-items: center;
}
.backcolor{

  background-color: black;
  color: white;
  border-radius: 50px;
}
