.homepage_bgimage{
  background-image: url('https://i.pinimg.com/originals/6e/e1/dc/6ee1dc8950385d849b823235fdd42313.jpg');
}

.jumbobgimage{
  border-top-left-radius: 200px;
  background-image: url('https://i.pinimg.com/originals/6a/c9/66/6ac9664baf2b1de542b69f29c104c7d6.jpg');

}

.WelcomeLine{

  background-image: url('https://images.fineartamerica.com/images-medium-large-5/original-bold-colorful-abstract-painting-indecisive-by-madart-megan-duncanson.jpg');
  text-align: center;
  border-style: ridge;
  border-color: rgba(207, 164, 10,0.7);
  border-width: 10px;
  font-family: 'Rozha One', serif;
  color: rgb(0,0,0);
  font-weight: bolder;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;

}

.card-bg-color{
  background-color: rgba(215, 217, 108, 0.7);
  font-family: 'Voltaire', sans-serif;

}
