<!DOCTYPE html>
{% extends 'EcartApp/HomePage.html' %}
{% load static %}

{% block bodyblock %}

  <div class="jumbotron aboutusline">
    <div class="card mb-3">
  <img src="https://techgrowthkw.com/img/about-us-banner.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">E-cart, We study your buyings!</h4>
    <h5 class="card-text">
      E-cart is quite diffrent from other e-commerce websites as we aim to not only
      deliver excellent customer services, but we also aim to benefit your shopping
      by studying your purchase patterns. This pattern is studied for every user and
      ultimately helps us to provide vouchers or discounts on those products that are
      oftenly bought by a user.

    </h5>

  </div>
</div>
  </div>


{% endblock %}
