<!DOCTYPE html>
{% extends 'ecartApp/HomePage.html' %}
{% load static %}

{% block bodyblock %}


  <div class="jumbotron">
    {% for i in item %}

    <div class="card" style="width: 18rem;">
      <img src="{{ i.item_pic.url }}" class="card-img-top" alt="Error!">
      <p>{{ i.item_pic.url}}</p>
      <div class="card-body">
        <h5 class="card-title"> Product: {{ i.item_name }}</h5>
        <p class="card-text">Price: £ {{ i.item_price }}</p>
        <a href="{{ i.item_url}}" class="btn btn-light">{{ i.item_url }}</a>
      </div>
    </div>

    {% endfor %}
  </div>

{% endblock %}
