<!DOCTYPE html>
{% extends 'ecartApp/HomePage.html' %}
{% load static %}

{% block bodyblock %}



  <div class="jumbotron">

      {% for i in item %}
        <form  method="POST">
          {% csrf_token %}
        <div class="card mb-3" style="max-width: 950px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{ i.item_pic.url }}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ i.item_name }}</h5>
                <input type="hidden" name="product_name" value="{{ i.item_name }}">
                <p class="card-text"  >Price: £{{ i.item_price }} </p>
                <input type="hidden" name="product_price" value="{{ i.item_price }}">
                <h6 class="card-text product_description">{{ i.item_description }}</h6>
                  <a href="{{ i.item_url }}" target="_blank" class="btn btn-outline-warning">Check Out the Product</a>
                  <input type="submit" class="btn btn-outline-success bg-warning text-dark add_to_cart" value="Add to cart">
              </div>
            </div>
          </div>
        </div>


        </form>


      {% endfor %}
      <nav class="navbar navbar-dark bg-dark fixed-bottom" style=" align-items: center">
        <a class="navbar-brand btn btn-info text-light" href="{% url 'ecartApp:selecteditempage' %}">Once you are done adding items, click me to go to your Cart!</a>
      </nav>


  </div>

{% endblock %}
