<!DOCTYPE html>
{% extends 'ecartApp/HomePage.html' %}
{% load static %}

{% block bodyblock %}


  <div class="jumbotron">
    {% for i in item %}
    <form  action="index.html" method="post">
      {% csrf_token %}
      <div class="card mb-3" style="max-width: 900px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{ i.item_pic.url }}" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" name="{{ i.item_name }}">{{ i.item_name }}</h5>
              <p class="card-text product_price" name="{{ i.item_price }}">Price: £ {{ i.item_price }} </p>
              <h6 class="card-text product_description">{{ i.item_description }}</h6>
                <input type="submit" href="{% url 'ecartApp:selecteditempage' %}" name="{{ i.item_name }}" value="Add to Cart">
            </div>
          </div>
        </div>
      </div>
    </form>




    {% endfor %}
  </div>

{% endblock %}
