<!DOCTYPE html>
{% extends 'ecartApp/HomePage.html' %}


{% block bodyblock %}
  <div class="jumbotron">
    <div class="container">
        <h2>User Login Page</h2>
        <h1>Please login</h1>

        <form action="{% url 'ecartApp:userloginpage' %}" method="post">
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Enter your Email here">
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Enter your password here">
            <br>

            <input type="submit" name="" value="Login">

        </form>
    </div>


  </div>


{% endblock %}
